<footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2023 Ľuboš Mudrák, Ján Semanšin, Niekto Nejaký, 04-pasha-04, Flying Pigeon</p>
</footer>
