<!DOCTYPE html>
<html>
    <!-- Head -->
    {% include "general/head" %}

    <body data-bs-theme="dark">
        <!-- Header -->
        {% include "general/header" %}
        
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                {% include "general/nav_panel" %}


                <!-- Content -->
                <div class="col py-3 text-center">
                    {% if user_logged_in %}
                        <p>Ahoj {{ user_name }}!</p>
                    {% else %}
                        <h1>Vítaj v TAXLESS!</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                            <div class="col">
                                <a href="/zuctovanie_ziadost" class="text-decoration-none">
                                    <div class="card h-100">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title text-primary">Vyplniť žiadosť o zúčtovanie dane z príjmu</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="col">
                                    <a href="/prihlasenie" class="text-decoration-none">
                                        <div class="card h-100">
                                            <div class="card-body d-flex flex-column">
                                                <h5 class="card-title text-primary">Prihlásenie a registrácia</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    
            <!-- Prepinac svetlej/tmavej theme -->
            {% include "general/theme_switch" %}
    
            <!-- Footer -->
            {% include "general/footer" %}
    
            <!-- Skripty -->
            {% include "general/scripts" %}

        </body>
    </html>
    
    