<!DOCTYPE html>
<html>
    <!-- Head -->
    {% include "general/head" %}


    <body data-bs-theme="dark">
        <!-- Header -->
        {% include "general/header" %}

        <p>Používateľsky panel prihláseného používateľa.</p>

        <!-- Prepinac svetlej/tmavej theme -->
        {% include "general/theme_switch" %}

        <!-- Footer -->
        {% include "general/footer" %}

        <!-- Skripty -->
        {% include "general/scripts" %}

    </body>
</html>

