<!DOCTYPE html>
<html>
    <!-- Head -->
    {% include "general/head" %}

    <body data-bs-theme="dark">
        <!-- Header -->
        {% include "general/header" %}
        
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Prihlásenie
                        </div>
                        <div class="card-body">
                            <form action="/prihlasovacie_udaje" method="POST">
                                <div class="form-group mb-3">
                                    <label for="exampleInputEmail1">Emailová adresa</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Zadajte email" name="username">
                                    <small id="emailHelp" class="form-text text-muted">Vašu emailovú adresu nikomu neposkytneme.</small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="exampleInputPassword1">Heslo</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Heslo" name="password">
                                </div>
                                <div class="form-group form-check mb-3">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Zapamätať si ma</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Prihlásiť sa</button>
                                <div class="mt-4 text-center">
                                    <p>Nemáte ešte účet? <a href="/registracia" class="text-primary">Zaregistrujte sa</a></p>
                                </div>
                                <div class="mt-3 text-center">
                                    <!-- Potom ked tak viac moznosti ze cez google a tak (hej viko google) -->
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        



        <!-- Prepinac svetlej/tmavej theme -->
        <div id="themeSwitcher" onclick="change_theme()" style="position: fixed; bottom: 20px; right: 20px; width: 50px; height: 50px; background-color: #0d6efd; border-radius: 50%; cursor: pointer; display: flex; justify-content: center; align-items: center; color: white; font-size: 24px;">
            <span>&#9790;</span>
        </div>
    

        <!-- Footer -->
        {% include "general/footer" %}

        <!-- Skripty -->
        {% include "general/scripts" %}
        
    </body>
</html>

